{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<form action="{% url 'create_song' %}" method="post">
    {% csrf_token %}

    {% if request.create_song_fail %}
      <div class="alert alert-dismissible alert-danger col-md text-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Oh snap! </strong> {{ request.create_song_fail_msg }}
      </div>
    {% elif request.create_song_suck %}
      <div class="alert alert-dismissible alert-success col-md text-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Oh snap! </strong> Creating the song was a success!
      </div>
    {% endif %}
    <div class="container col-md-2 bg-light rounded-3 border-light">
      <p>⠀</p>
      <div class="text-center">
        {{ form|crispy }}
        <p>⠀</p>
        <button type="submit" class="btn btn-secondary">Create Song</button>
      <p>⠀</p>
      </div>
    </div>
  </form>



{% endblock %}
