{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}



<div class="container col-md-10 bg-light rounded-3 border-light">
    <p>
        <h2>{{ song.title }}</h2> 
        <img src="{{ song.image_url }}" class="rounded float-right img-resonsive" alt="..." style="width:20%; height:20%; ">
        
        <h2>Spotify Url</h2>
        <a href="{{ song.spotify_url }}"> - {{ song.spotify_url }}</a>

        <h2>Primary Youtube Url</h2>
        <a href="{{ song.youtube_url }}"> - {{ song.youtube_url }}</a>

        <h2>Youtube Url Alternates</h2>
        {% for i in song.youtube_url_alternates %}
            <div class="row">
                  <a href="{{ i }}"> - {{ i }}</a>
            </div>
        {% endfor %}

    </p>


    
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" href="{% url 'song' %}" name="prev" value='Prev' class="btn btn-primary">Prev Song</button>
    <button type="submit" href="{% url 'song' %}" name="next" value='Next' class="btn btn-primary">Next Song</button>
</form>
{% endblock %}